<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel application</title>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0'/>
</head>

<body>
  <div id="travel-app">
    <div class="headline">
      Travel all around the world
    </div>
    <form class="needs-validation" novalidate>
      <div class="form-group">
        <label for="destination">I am going to</label>
        <input type="text" title="Add your destination" class="form-control" id="destination" aria-describedby="destinationHelp" required>
        <div class="invalid-feedback">
          You haven't provided your destination!
        </div>
      </div>
      <div class="form-group">
        <label for="start-date">On</label>
        <input type="date" title="Add the first day of your trip" class="form-control" id="start-date" required>
        <div class="invalid-feedback">
          You haven't provided a valid date!
        </div>
      </div>
      <div class="form-group">
        <label for="end-date">I'm leaving the city on</label>
        <input type="date" title="Add the last day of your trip" class="form-control" id="end-date">
      </div>
      <button id="generate" title="Explore info about your trip" class="btn btn-primary" type="submit" onclick="return Client.handleSubmit(event)">Explore</button>
    </form>
    <div class="results">
      <img id="image"/>
      <div class="trip-info">
        <div id="countdown"></div>
        <div id="trip-length"></div>
        <h5 id="trip-info-title"></h5>
        <div id="max_temp"></div>
        <div id="min_temp"></div>
        <div id="weather-description"></div>
      </div>
    </div>
  </div>
</body>
<script>
    if('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        })
    }
</script>

</html>