body {
    background: #fffff8;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

#travel-app {
    display: grid;
    justify-items: center;
    grid-template-areas: "headline headline"
                         "form form"
                         "results results";
    height: 100vh;
    grid-gap: 1em;
}

form {
    grid-area: form;
    width: 33%;
}

.headline {
    margin: 20px 0;
    font-size: 27px;
}

.title {
    margin-bottom: 20px;
}

input {
    display: block;
    border: none;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 36px;
}

h5 {
    margin-top: .5rem;
    font-weight: 800;
}

.results {
    margin-bottom: 60px;
    grid-area: results;
    display: flex;
    justify-content: center;
}

.city-image {
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

@media (min-width: 340px) and (max-width: 1024px) {
    .city-image {
        height: 70%;
        margin-left: 25%;
    }

    .results {
        display: block;
    }

    .trip-info {
        margin-left: 25%; 
    }

    #travel-app {
        grid-template-areas: "headline" "form" "results";
    }

    form {
        width: 60%;
    }
}