body {
    background: #fffff8;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

#app {
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    justify-items: center;
    grid-template-areas: "headline headline"
                         "form form"
                         "results results";
    height: 100vh;
    grid-gap: 1em;
}

form {
    grid-area: form;
}

.destination {
    grid-area: destination;
}

.headline {
    margin: 20px 0;
    font-size: 27px;
}

.title {
    margin-bottom: 20px;
}

input {
    display: block;
    border: none;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 2px 4px 5px #444;
    grid-area: button;
}

h1 {
    font-size: 36px;
}

.results {
    min-width: 500px;
    margin-bottom: 40px;
    grid-area: results;
    display: flex;
    justify-content: center;
}

.city-image {
    width: 640px;
    height: 318px;
}

.trip-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}